@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
@import 'abstracts/variables';
@import 'abstracts/mixins';

:root {
  font-family: $font-family-default;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: bold;
  color: $color-primary;
}
a:hover {
  color: $color-secondary;
}

body {
  margin: 0;
}
